/*
Resetear el navegador
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

body {
	background-color: #F38E70;
}

/*
Crear container
*/

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 7px;
  padding: 12px; /* gutters */
}

/*
formula para el ancho de las columnas (numero columnas / 12) * 100
*/

.col-1 {
  width: 8.333333%;  
}

.col-2 {
  width: 16.666667%;  
}

.col-3 {
  width: 25%;  
}

.col-4 {
  width: 33.333333%;  
}

.col-5 {
  width: 41.666667%;  
}

.col-6 {
  width: 50%;  
}

.col-7 {
  width: 58.333333%;  
}

.col-8 {
  width: 66.666667%;  
}

.col-9 {
  width: 75%;  
}

.col-10 {
  width: 83.333333%; 
}

.col-11 {
  width: 91.666667%; 
}

.col-12 {
  width: 100%; 
}

/*MIS ESTILOS*/

img {
  width: 100%;
}

.header {

	text-align: right;
	min-height: 700px;
}

.header h1 {
	font-size: 2.9em;
	margin: 25px 0px 10px 0px;
}

.header p {
	margin: 0px 0px 25px 0px;
}

.one {
	height: 500px;
	background-image: url('../img/uno.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.about .row {
	height: 500px;
}

.about .text {
	height: 350px;
	background-color: #F58E6D;
	text-align: center;
	padding-top:30px;
	margin-top: 70px;
}
.two {
	margin-top: 29px;
	height: 680px;
	background-image: url('../img/dos.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

}


section {
	background-color: #ACE08C;
	height: 500px;
	margin-top: 29px;
}
.pictures h2 {
	text-align: center;
	padding-top: 80px;
	font-size: 50px;
	margin-bottom: 20px;
}



.row .pic {
	border: 5px solid white;
	width: 160px;
	height: 160px;
	display: inline-block;
	float: left;
	margin: 20px 25px;
}

.pic1 {
	background: url('../img/a1.jpg');
}

.pic2 {
	background: url('../img/a2.jpg')
}

.pic3 {
	background: url('../img/a3.jpg')
}

.pic4 {
	background: url('../img/a4.jpg')
}

.tree {
	background-image: url('../img/tres.jpg');
	margin-top: 29px;
	height: 680px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

footer {
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: right;
	margin-right: 15px;
}

@media (max-width: 450px) {
  [class*="col-"] {
    width: 100%;
  }
}


